<footer class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16">
  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-brand hover:text-brand no-underline" href="{{ '/about/' | url }}">About</a>
      </li>
      <li>
        <a class="text-brand hover:text-brand no-underline" href="{{ '/faq/' | url }}">FAQ</a>
      </li>
      <li>
        <a class="text-brand hover:text-brand no-underline" href="{{ '/contact/' | url }}">Contact Us</a>
      </li>
    </ul>
  </div>
</footer>
<div class="w-full">
  <span class="block text-center text-gray-800 text-sm font-light">
    &copy; {{ currentYear }} {{ site.title }}
  </span>
</div>
<div class="">
  <a id="btt"
    class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-gray-200 border border-brand hover:bg-gray-200 hover:text-brand hover:border-browngray no-underline px-6 py-1 bg-brand shadow-md"
    href="#top" title="Back to Top">UP</a>
</div>
<div class="fixed bottom-0 left-0 m-6">
  <a href="https://github.com/ttntm/11ty-landing-page" target="_blank" rel="noopener" title="Get this theme @ GitHub"
    class="block rounded-full bg-black text-brand hover:bg-white hover:text-black shadow-md p-4">
    <img src="{{ '/assets/images/github.svg' | url }}" width="30" height="30" class="block" alt="GitHub icon">
  </a>
</div>