{% for item in collections.sections %}
  {% if item.data.type === 'header' %}
    <div class="flex flex-col justify-center h-full py-12">
      <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
        <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
          <h1 class="tracking-wide text-blue-600 text-2xl mb-6">
            {{ site.title }}
          </h1>
          <div class="font-bold tracking-widest text-4xl mb-6">
            {{ item.templateContent | safe }}
          </div>
          <p class="font-bold tracking-widest text-xl">Get expert help today.</p>
        </div>
        <div class="w-full sm:w-1/2">
          <img src="{{ '/assets/images/header_image.svg' | url }}" alt="Tax Professional" class="rounded-lg shadow-xl">
        </div>
      </div>
    </div>
    <div class="flex flex-row w-full justify-center pb-12">
      <a class="px-10 py-2 text-gray-200 bg-blue-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#about">
        More Information
      </a>
    </div>
  {% endif %}
{% endfor %}