---
layout: base.njk
isFront: true
title: Home
---
<header class="header w-full flex flex-col justify-between bg-white" style="height: 70vh;">
  {% include "section.header.njk" %}
</header>
<main>
  {% include "section.about.njk" %}
  {% include "section.features.njk" %}
</main>
